
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

/* Header styles */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    align-self: flex-start;
}

.menuLogo {
    width: 200px;
    height: auto;
}

.menu {
    align-self: flex-end;
    display: flex;
    gap: 10px;
    padding: 0 20px;
    list-style: none;
}

.menu a {
    color: rgb(92, 214, 255);
    text-decoration: none;
    padding: 10px 20px; /* Add some padding */
    border-radius: 5px; /* Round the corners */
    transition: all 0.3s ease; /* Smooth the hover effect */
}

.menu a:hover {
    color: darkblue;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transform: translateY(-3px);
}

.menu a:active {
    transform: translateY(-1px);
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}
/* Main section styles */


.mainHeader {
    text-align: center;
    padding: 20px;
    font-family: 'Permanent Marker', cursive;
    font-size: 4em;
    color: rgb(92, 214, 255);
    text-shadow: 3px 3px 2px rgba(0,0,0,0.3);
    box-shadow: 0 10px 10px rgba(0,0,0,0.2); /* Add a box shadow */
    background: linear-gradient(to bottom right, #fff, #ccc); /* Add a background gradient */
    border-radius: 10px; /* Round the corners */
}

.middleHeader {
    text-align: center;
    padding: 20px;
    font-family: 'Permanent Marker', cursive;
    font-size: 4em;
    color: rgba(0, 140, 186, 0.66);
    text-shadow: 3px 3px 2px rgba(0,0,0,0.3);
    box-shadow: 0 10px 10px rgba(0,0,0,0.2); /* Add a box shadow */
    background: linear-gradient(to bottom right, #fff, #8b8b8b); /* Add a background gradient */
    border-radius: 20px; /* Round the corners */
}

.photo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Contact Form Styles */

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
}

.contact form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}

.contact label {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.contact input[type="text"], .contact input[type="email"], .contact textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.contact input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Footer styles */

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.footerLogo {
    width: 200px;
    height: auto;
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
    .floating {
        flex-direction: column;
    }

    .floating .photo {
        width: 100%;
    }

    .floating .photo p {
        margin-left: 0;
        margin-top: 20px;
    }
}
.main-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.photo {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
}

.photo img {
    width: 100%;
    height: 300px;
}

.photo p {
    text-align: center;
}


/* - Cards CSS - Credit to Stevve Meredith from Code - https://codepen.io/steveeeie/pen/NVWMEM - Pen */

:root{
    --background-dark: #2d3548;
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
  }

  .hero-section{
    align-items: flex-start;
    background-image: linear-gradient(15deg, #0099f8 0%, #2a6973 150%);
    border-radius: 25px;
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
  }
  
  .card-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
  }
  
  @media(min-width: 540px){
    .card-grid{
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media(min-width: 960px){
    .card-grid{
      grid-template-columns: repeat(4, 1fr); 
    }
  }
  
  .card{
    list-style: none;
    position: relative;
  }
  
  .card:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
  }
  
  .card__background{
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    trsnsform: scale(1) translateZ(0);
    transition: 
      filter 200ms linear,
      transform 200ms linear;
  }
  
  .card:hover .card__background{
    transform: scale(1.05) translateZ(0);
  }
  
  .card-grid:hover > .card:not(:hover) .card__background{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  }
  
  .card__content{
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
  }
  
  .card__category{
    color: var(--text-light);
    font-size: 1.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
  }
  
  .card__heading{
    color: var(--text-lighter);
    font-size: 1.3rem;
    text-shadow: 2px 2px 20px rgb(0, 200, 255);
    line-height: 1.4;
  }

  /* - End of Cards CSS - Credit to Stevve Meredith from Code - Pen */

/* Media queries for smaller screens */
@media (max-width: 768px) {
    .main-section {
        flex-direction: column;
    }

    .photo {
        width: 100%;
    }
}
